.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: sticky; /* Changed from fixed to sticky */
    top: 50px; /* Adjust based on your layout */
    z-index: 999; /* Ensure it stays on top */
}

.marquee-text {
    display: inline-block;
    font-size: 10rem;
    animation: marquee 50s linear infinite;
    animation-iteration-count: infinite;
    color: #3B82F6;
    font-weight: bold;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}